body {
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 16px;
  line-height: 26px;
}
h1 small {
  color: red;
  display: block;
  font-size: .5em;
}
.content {
  max-width: 800px;
  margin: auto;
  background-color: #fafafa;
  padding: 50px 100px 50px 50px;
}

h1, h2, h3, h4 {
  padding-left: 20px;
}

.summary, .position1, .position1_1 {
margin-bottom: 25px;
  margin-left: -40px;
  padding-left: 70px;
}

.bullets .education {
  margin-top :-20px; 
  margin-bottom: 5px;
  margin-left: -20px;
  padding-left: 20px;
}

.title {
  display: block;
  margin-top: -10px;
  margin-left: -10px;
  padding-left: 10px;
  background-color: #fafafa;
}
.vertical {
  border-left: 2px solid black;
  height: 20px;
  position:relative;
}
.vertical_bullet {
border-left: 2px solid black;
height: 20px;
position:relative;
left: 38px;
}

.summary {
  border-top: 2px solid red;
}
.position1 {
  border-top: 2px solid red;
}

.supplemental {
display: block;
font-style: italic;
}
.time-period {
display: block;
font-size: smaller;
color: rgb(119, 116, 116);
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  body, .content {
    width: 100%;
  }
}